<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/styles.css">   
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>   
        </head>
    <body>

        <div class="searchcontainer" id="changemode">
          <div class = "row">
            <h1 class="text-center ">Movie Database</h1>
         </div> 
        </div>
        <video playsinline autoplay muted loop id="videobackground">
           <source src ="../imgs/NYC-Traffic.mp4" type="video/mp4">
           <source src ="../imgs/NYC-Traffic.webm" type="video/webm">
       </video>
       
       <div id="f1_container">
           <div id="f1_card">
              <div class="front face">
                <form method="POST" class="form-wrapper" action="/search">
                <div>
                <input  autofocus="autofocus" type="text" class="searchbar" name="test"  placeholder="Search for titles from local database">
                <button class="btn_submit" type="submit">Search!</button> 
                </div>
                </form>
              </div>
              <div class="back face">
                <form method="POST" class="form-wrapper" action="/apisearch">
                <div>
                <input type="text" autofocus="autofocus" name="test" class="searchbar" placeholder="Search for titles from API">
                    <button class="btn_submit" type="submit">Search!</button>
                </div>
                </form>
              </div>
           </div>
        </div>

     <h1>3d images gallery</h1>
  <div class="container">
        <div id="carousel">
			<figure><img src="http://lorempixel.com/186/116/nature/1" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/2" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/4" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
			<figure><img src="http://lorempixel.com/186/116/people/9" alt=""></figure>
		</div>
	</div>


   </body>
    <script>
        $(document).ready(function(){
            $('#changemode').mouseenter(function(){
                $('#f1_card').toggleClass("hovered");
            })


        })
     </script>

</html>

